{
  "mail_server": "{{ mail_server }}",
  "mail_port": {{ mail_port }},
  "mail_use_tls": {{ mail_use_tls | default(true) }},
  "mail_username": "{{ mail_username }}",
  "mail_password": "{{ mail_password }}",
  "mail_default_sender": "{{ mail_default_sender }}"
}
